{% load static %}

<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4 mx-auto text-center">
        <a href="{% url 'desserts:index' %}" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Desserts Home
        </a>
        <a href="{% url 'desserts:cook-list' %}" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Cooks
        </a>
        <a href="{% url 'desserts:dessert-list' %}" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Desserts
        </a>
        <a href="{% url 'desserts:dessert-type-list' %}" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Dessert Types
        </a>
        <a style="margin-right: 0px !important;" href="{% url 'desserts:ingredient-list' %}"
           class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Ingredients
        </a>
      </div>
      <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
        <a href="https://www.facebook.com/profile.php?id=100075231250687&locale=uk_UA" target="_blank"
           class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-facebook"></span>
        </a>
        <a href="https://www.instagram.com/yummy_yummy.in.ua/" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-instagram"></span>
        </a>
        <a style="margin-right: 0px !important;" href="https://github.com/Liliyakhu/desserts-hub" target="_blank"
           class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-github"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto text-center mt-1">
        <p class="mb-0 text-secondary">
          &copy; <a href="https://mate.academy/" target="_blank">Mate</a> - Coded by Liliya.
        </p>
      </div>
    </div>
  </div>
</footer>
