{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %} Material Kit 2 by Creative Tim {% endblock title %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}

  {% include 'includes/navigation_light.html' %}

{% endblock header %}

{% block content %}

  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-5 py-3">
            <div class="col-lg-3 col-md-5 position-relative my-auto">
              
{#                <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2"#}
{#                     src="{{ cook.image.url }}" alt="cook">#}
              
                <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2"
                     src="{% static 'img/default_cook.png' %}" alt="cook">
              
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                {% if cook.first_name and cook.last_name %}
                  <h4 class="mb-0">{{ cook.first_name }} {{ cook.last_name }}</h4>
                {% else %}
                  <h4 class="mb-0">Cook: {{ cook.username }}</h4>
                {% endif %}
                <div class="d-block">
                  <a type="button" class="btn btn-sm btn-outline-dark text-nowrap mb-0"
                     href="{% url 'desserts:cook-update' pk=cook.id %}">Update</a>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-auto">
                  <span class="h6">{{ cook.years_of_experience }}</span>
                  <span>year{{ cook.years_of_experience|pluralize }} of experience</span>
                </div>
                {% if cook.first_name and cook.last_name %}
                  <div class="col-auto">
                    <span class="h6">Username: {{ cook.username }}</span>
                  </div>
                {% endif %}
              </div>
              <p class="text-lg mb-0">
                This cook's id is {{ cook.id }}.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mb-5">My desserts</h3>
        </div>
      </div>
      <div class="row">
        {% if cook.desserts.all %}
          {% for dessert in cook.desserts.all %}
            <div class="col-lg-3 col-sm-6">
              <div class="card card-plain card-blog">
                <div class="card-image border-radius-lg position-relative">
                  <a href="{{ dessert.get_absolute_url }}">
                    <img class="w-100 border-radius-lg move-on-hover shadow"
                         src="{{ dessert.image.url }}">
                  </a>
                </div>
                <div class="card-body px-0">
                  <h5 class="text-dark font-weight-bold">
                    {{ dessert.name }}
                  </h5>
                  <p>
                    {{ dessert.description }}
                  </p>
                  <a href="{{ dessert.get_absolute_url }}" class="text-info icon-move-right">More about this dessert
                    <i class="fas fa-arrow-right text-sm"></i>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>There are no desserts yet.
          </p>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock content %}

{% block footer %}

  {% include 'includes/footer_fullscreen.html' %}

{% endblock footer %}
