{% extends "base.html" %}
{#{% load crispy_forms_filters %}#}

{% block content %}
  <h1>
    Dessert list
    <a href="{% url 'desserts:dessert-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
{#    {{ search_form|crispy }}#}
    {{ search_form }}
    <input type="submit" value="🔎" class="btn btn-secondary">
  </form>
  <br>
  {% if dessert_list %}
    <ul>
      {% for dessert in dessert_list %}
        <li>
          <a href="{% url "desserts:dessert-detail" pk=dessert.id %} ">{{ dessert.id }}</a>
          {{ dessert.name }} ({{ dessert.dessert_type.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no desserts in dessert hub</p>
  {% endif %}
{% endblock %}
