{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dessert.name }}
    <a href="{% url 'desserts:dessert-update' pk=dessert.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'desserts:dessert-delete' pk=dessert.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>
  <p>Dessert Type: ({{ dessert.dessert_type.name }}, {{ dessert.price }})</p>
  <p>{{ dessert.description }}</p>
  <h1>
    Cooks

    {% if dessert in user.desserts.all %}
      <a href="{% url 'desserts:toggle-add-dessert' pk=dessert.id %}" class="btn btn-danger link-to-page">
        Delete this dessert from my list of desserts
      </a>
    {% else %}
      <a href="{% url 'desserts:toggle-add-dessert' pk=dessert.id %}" class="btn btn-success link-to-page">
        Add this dessert to my list of desserts
      </a>
    {% endif %}

  </h1>
  <hr>
  <ul>
    {% for cook in dessert.cooks.all %}
      <li>{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</li>
    {% endfor %}
  </ul>
  <h1>
    Ingredients
  </h1>
  <hr>
  <ul>
    {% for ingredient in dessert.ingredients.all %}
      <li>{{ ingredient.name }}</li>
    {% endfor %}
  </ul>
{% endblock %}
