{% extends "base.html" %}

{% block content %}
  <h1>Desserts Hub Home</h1>
  <p>Welcome to Best Desserts Hub Ever!</p>
  <h2>Dynamic content</h2>
  <p>The Desserts Hub has the following record counts:</p>
  <ul>
    <li><strong>Cooks:</strong> {{ num_cooks }}</li>
    <li><strong>Desserts:</strong> {{ num_desserts }}</li>
    <li><strong>Dessert Types:</strong> {{ num_dessert_types }}</li>
    <li><strong>Ingredients:</strong> {{ num_ingredients }}</li>

  </ul>

  <p>You have visited this page
    {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>

{% endblock %}
